<template name="main">
  <div class="ui centered card">
    <div class="content">
      <i class="right floated rocket icon"></i>
      <div class="header" id="main"></div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna nunc, tincidunt eu neque nec, dictum venenatis nisi. Vivamus ornare sem odio, at aliquet enim cursus quis. Duis nec metus urna.</p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
      <span class="right floated star">
        <i class="star icon"></i>
        Favorite
      </span>
    </div>
  </div>
</template>
